Flask==3.1.0  # For web development
Flask-Cors==5.0.0  # For handling CORS in Flask apps
requests==2.32.3  # For making HTTP requests
scikit-learn==1.6.1  # For machine learning
scipy==1.15.1  # For scientific computing
pandas==2.2.3  # For data manipulation
numpy==2.1.3  # For numerical computations
pyparsing==3.2.0  # Required for parsing in various libraries (e.g., pandas)
python-dateutil==2.9.0.post0  # For handling dates and times
pytz==2024.2  # For timezone handling
pyzmq==26.2.0  # For ZeroMQ, if needed
setuptools==75.5.0  # For package building and installation
six==1.16.0  # For Python 2 and 3 compatibility
tqdm==4.67.0  # For progress bars
Werkzeug==3.1.3  # Required for Flask
